<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercicio</title>
  <link rel="stylesheet" href="main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <section class="card">
    <div>
      <img src="./image.png" alt="Mujer escuchando música">
    </div>
    <div class="content">
      <h2><strong>Order Summary</strong></h2>
      <p>You can now listen to millon of songs, audiobooks and podcast on any device anywhere you like!</p>
    </div>
    <div class="plans">
      <img src="./icon-music.svg" alt="Ícono de música">
      <div>
        <h3><strong>Annual plan</strong></h3>
        <p>$59.99/Year</p>
      </div>
      <a href="/plans.html">Change</a>
    </div>
    <div class="btns">
      <button class="btn-payment"><strong>Proceed to payment</strong></button>
      <button class="btn-cancel"><strong>Cancel order</strong></button>
    </div>
  </section>
</body>

</html>