* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: #E0E8FF;
  background-image: url("./pattern-background-desktop.svg");
  /* Evita que la imagen se repita */
  background-repeat: no-repeat;
  /* Posición de la imagen en el eje horizontal y en el eje vertical */
  /*background-position: top center;
  /* Ocupa el 100% del ancho y ajusta el alto automáticamente. */
  background-size: 100% auto;
  /* Fija la imagen para que no se mueva al hacer scroll */
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  /* "aling-items: center" y "height: 100vh" son inherentes para que la carta quede al medio */
  align-items: center;
  height: 100vh;
}

img {
  width: 100%;
}

section {
  background-color: white;
  width: 350px;
  height: 533px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 11px 25px -15px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 11px 25px -15px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 11px 25px -15px rgba(0, 0, 0, 1);
}

.content {
  padding: 15px;
  text-align: center;
}

.content h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content p {
  color: gray;
}

.plans {
  background-color: #F8F9FE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  margin-left: 45px;
  margin-right: 45px;
}

.plans img {
  width: 45px;
}

.plans a {
  font-size: small;
  transition: 0.1s;
}

.plans a:hover {
  scale: 1.1;
}

.plans p {
  color: gray;
  font-size: small;
}

.btns {
  margin-left: 45px;
  margin-right: 45px;
}

.btns button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  transition: 0.1s;
}

button:hover {
  scale: 1.1;
}

.btn-payment {
  background-color: #382ae1;
  color: white;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: bold;
  box-shadow: 0px 11px 25px -15px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 11px 25px -15px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 11px 25px -15px rgba(0, 0, 0, 1);
}

.btn-cancel {
  background-color: transparent;
  color: gray;
  font-size: small;
}