.titulo {
  background-color: black;
  color: aquamarine;
}

img {
  width: 450px;
  height: 300px;
}

/* Display: flex. Hace que los elementos hijos se acomoden/visualicen de forma horizontal (se debe colocar siempre en un elemento padre). Adicional, se puede utilizar gap para separar esos elementos hijos (solo puede ir acá) */

.productos {
  background-color: gray;
  color: black;
  padding: 30px;
  display: flex;
  gap: 20px;
  text-align: center;
}

.productos div {
  background-color: yellow;
  padding: 10px;
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}