* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
}

body {
  background-image: url(./bg-pattern-top-desktop.svg), url(./bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-attachment: fixed;
  padding: 130px;
  margin-left: 35px;
  height: 100vh;
}

.description h3 {
  color: #511f50;
  font-size: 50px;
  font-weight: bold;
}

.description .paragraph-one {
  margin-top: 25px
}

.description p {
  color: #91888f;
}

.cards {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  align-items: flex-start;
}

.cards h5 {
  color: #c36d9f;
}

.opinion-one,
.opinion-two,
.opinion-three {
  background-color: #511f50;
  color: white;
  border-radius: 10px;
  padding: 25px;
}

.opinion-two {
  margin-top: 20px;
}

.opinion-three {
  margin-top: 40px;
}

.opinion-one-header,
.opinion-two-header,
.opinion-three-header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.opinion-one-header img,
.opinion-two-header img,
.opinion-three-header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.opinion-one-header,
.opinion-two-header,
.opinion-three-header h4,
h5,
p {
  line-height: 1.3;
}