* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box: Cambia la forma en que el navegador calcula el tamaño total de un elemento (su ancho y altura) dado que incluye el padding y el border dentro del width y el height.
  Por defecto, box-sizing es content-box en el cual el padding y el border se añaden fuera del width y height definidos */
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  background-image: url(./bg-pattern-top-desktop.svg), url(./bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-attachment: fixed;
  padding: 130px;
  margin-left: 35px;
  min-height: 100vh;
}

.description h3 {
  color: #511f50;
  font-size: 50px;
  font-weight: bold;
}

.description .paragraph-one {
  margin-top: 25px
}

.description p {
  color: #91888f;
}

.cards {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  align-items: flex-start;
}

.cards h5 {
  color: #c36d9f;
}

.opinion-one,
.opinion-two,
.opinion-three {
  background-color: #511f50;
  color: white;
  border-radius: 10px;
  padding: 25px;
}

.opinion-two {
  margin-top: 20px;
}

.opinion-three {
  margin-top: 40px;
}

.opinion-one-header,
.opinion-two-header,
.opinion-three-header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.opinion-one-header img,
.opinion-two-header img,
.opinion-three-header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.opinion-one-header,
.opinion-two-header,
.opinion-three-header h4,
h5,
p {
  line-height: 1.3;
}

.opinion-one:hover,
.opinion-two:hover,
.opinion-three:hover {
  cursor: pointer;
  scale: 1.1;
}

.ratings {
  position: absolute;
  top: 0;
  right: 0;
  padding: 150px;
  width: fit-content;
}

.ratings h4 {
  color: #511f50;
  margin-left: 25px;
  margin-right: 50px;
}

.ratings i {
  color: gold;
  font-weight: bold;
}

.ratings i:hover {
  scale: 1.5;
}

.rated-one,
.rated-two,
.rated-three {
  background-color: #f7f2f8;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  padding: 20px;
  margin-bottom: 15px;

}

.rated-one {
  margin-right: 250px;
}

.rated-two {
  margin-left: 30px;
  margin-right: 220px;
}

.rated-three {
  margin-left: 60px;
  margin-right: 195px;
}

.rated-one:hover,
.rated-two:hover,
.rated-three:hover {
  cursor: pointer;
  scale: 1.1;
}

/* Responsive estándar para tablets
@media (max-width: 880px) {
}*/

/* Responsive estándar para celulares */
@media (max-width: 480px) {

  body {
    width: 100%;
  }

  .cards,
  .opinion-one-header,
  .opinion-two-header,
  .opinion-three-header,
  .rated-one,
  .rated-two,
  .rated-three {
    display: block;
    text-align: center;
    width: 100%;
  }

  .ratings {
    width: 100%;
    padding: 0;
    margin-top: 530px;
  }

  .cards {
    margin-top: 300px;
  }

}